.contact{
    margin: 0;
    min-height: 100vh;
    background-image: url(../../assets/BG.png);
    background-position: center;
    z-index: -1;
}

.contact-content{
    margin: auto;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-left{
    width: 30%;
    height: 100%;
    background-image: url(../../assets/desk.jpg);
    background-attachment: fixed;
    background-position: left;
    background-size: cover;
    color: white;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.contact-left-content{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.493);
    padding: 10px;
    width: 100%;
    height: 100vh;
}

.logo{
    width: 62px;
    height: 60px;
    padding: 7px;
    border-radius: 50%;
    box-shadow: rgb(122, 122, 122) 0px 4px 6px;
}

.contact-tiggerfish{
    font-size: 40px;
}

.contact-middle-title{
    font-size: 50px;
}

.contact-middle-sub{
    font-size: 25px;
}

.contact-social-media{
    width: 70%;
    margin: auto;
    display: flex;
    justify-content: space-around;
}

.contact-right{
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 100vh;
}

.contact-right-nav {
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-left : auto;
    margin-right: auto;
    margin-top: 0%;
    background-color: #d6ddeee0;
}

.ul-nav{
    width: 70%;
    display: flex;
    justify-content: space-around;
    padding-right: 10%;
    
}

.li-nav{
    color: #375ba9;
    text-decoration: none;
    font-weight: bold;
    font-family: 'Dosis', sans-serif;
    font-size: 18px;
}

.contact-form{
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    width: 85%;
    padding: 3vw;
}

.contact-form-top{
    display : flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 67%;
}

.input-group{
    display : flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: left;
}

.input-group-full{
    display : flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 280px
}

.input-long{
    width: 600px;
}

.text-area{
    width: 600px;
    height: 300px;
}

.send-button{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    text-decoration: none;
    background-color: #375ba9;
    color: aliceblue;
    width: 150px;
    border-radius: 5px;
    filter: drop-shadow(0px 3px 5px #ccc);
    font-family: Monda;
    font-size: 18px;
    margin-top: 20px;

}

@media (max-width: 1000px){
    .contact-left{
        display: none;
    }
    .contact-right-nav{
        width: 100vw;
        margin-left: -17vh;
    }
    .ul-nav{
        width: 100%;
    }
    .contact-right-content-heading-section{
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
    }
    .contact-form{
        margin-left: -23%;
    }

    .input {
        width: 85vw
    }

    .input-long{
        width: 85vw
    }
    .contact-right-bottom{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around
    }
}

@media (max-width: 850px) {
    .text-area{
        width: 90vw;
        margin: auto;
    }
}