.App {
  text-align: center;
  margin: 0;
}

h1 {
  font-family: 'Roboto Condensed', sans-serif;
}

h2 {
  font-family: 'Roboto Condensed', sans-serif;
}

h3 {
  font-family: 'Dosis', sans-serif;
}

p{
  font-family: 'Monda', sans-serif;
}

hr {
  color: #375ba9;
  border: 2px solid #375ba9;
}

label{
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  margin-bottom: 5px;
  color: #375ba9;
  font-weight: bold;
}

input{
  font-family: 'Monda', sans-serif;
  color: #375ba9;
  font-size: 16px;
  padding: 7px;
  border-radius: 5px;
  border-width: 1px;
  filter: drop-shadow(0px 2px 3px #ccc);
  border-color: black;
}

input::placeholder{
  font-family: 'Roboto Condensed', sans-serif;
}

textarea{
  font-family: 'Monda', sans-serif;
  color: #375ba9;
  font-size: 16px;
  filter: drop-shadow(0px 2px 3px #ccc);
  padding: 7px;
  border-radius: 5px;
  border-color: black;
  border-width: 1px;
}

textarea::placeholder{
  font-family: 'Roboto Condensed', sans-serif;
}